@import "normalize.scss";

//---------------my-code------------//
$theme: #47a3da;
$form-text: #fff;
$example-text: #10689a;
$form-border: solid $form-text .2em;

body {
	padding: 2em;
	background: $theme;
	color: $form-text;
	font-weight: 300;
}

form {

	input {
		color: $example-text;
		border: $form-border;
		background: $theme;
		font-style: italic;
		padding: .5em;
		width: 100%;
		margin: .5em 0 2em 0;
	}

	select {
		background: $theme;
		width: 100%;
		padding: 1em;
		margin: .5em 0 2em 0;
		padding: 1em;
	}

	textarea {
		width: 100%;
		height: 9.6875em;
		border: $form-border;
		background: $theme;
		margin-bottom: 2em;
		padding: .5em;
	}

	div {
		width: 30em;
		input {
			width: 1em;
		}

		>&:first-child {
			margin-top: 1em;
		}
	}

	button {
		background: $example-text;
		margin: 0 auto;
		padding: 1em;
		border: none;
		display: block;
	}
	input:focus {
		background: $example-text;
		color: $form-text;
		font-style: normal;
	}

	textarea:focus {
		background: $example-text;
		color: $form-text;
		
	}
}
///////changes color of placeholder text//////
	input::-webkit-input-placeholder {
		color: $example-text;
}
	input::-moz-placeholder {
		color: $example-text;
}
	input:-moz-placeholder {   /* Older versions of Firefox */
		color: $example-text;
}
	input:-ms-input-placeholder { 
		color: $example-text;
}
///////////////////////////////////////////////

@media screen and(min-width: 53.3em) {

	section {
		float: left;
		width: 50%;
		box-sizing: border-box;
		border-right: 2em solid $theme;
	}

	section:nth-child(3) {
			width:100%
		}

	button{
		clear: left;
	}
}

// @media screen and(min-width: 77.85em) {
// 	section {
// 		width: 33%
// 	}

// 	section:nth-child(3) {
// 			width:33%
// 		}
// }